*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

img{
    display: block;
    width: 100%;
}

/* utility */
.container-65{
    width: 65%;
    margin: 0 auto;
}

.container-55{
    width: 55%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.stretch{
    align-items: stretch;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.space-b{
    justify-content: space-between;
}

.al-self{
    align-self: center;
}

.al-it-center{
    align-items: center;
}

.flex-end{
    align-items: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.plr-15{
    padding: 30px 15px;
}

.fsize{
    font-size: 20px;
}

.fsize-15{
    font-size: 15px;
}

.fsize-30{
    font-size: 30px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-15{
    margin-bottom: 15px;
}

.mr-20{
    margin-right: 20px;
}

.mt-150{
    margin-top: 150px;
}

.margin-50{
    margin: 50px;
}

:root{
    --gradient: linear-gradient(
      45deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f,
      #f9f871  
    );
    --gradient-2: linear-gradient(
        53deg, 
        rgba(180,34,195,1) 0%, 
        rgba(13,18,162,1) 45%, 
        rgba(45,253,100,1) 90%
    );
    --color-neon: hsl(317 100% 54%);
}

/* header */
header{
    /* background-color: #b4d0e7; */
    background-image: var(--gradient-2);
    background-size: 300%;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation{
    0% {background-position: left;}
    100% {background-position: right;}
}

/* nav */
nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* bottoni */
.border-bot:hover{
    border-bottom: 1px solid black;
}

.button-blue{
    background-color: #0061ff;
    padding: 7px 10px;
    color: white;
    text-align: center;
    position: relative;
}

.button-blue:hover{
    animation: pulse 1000ms infinite;
}

@keyframes pulse{
    0% {
    transform: scale(1); 
    border-radius: 0%;
    background-color: #0061ff;
    }
    100% {
    transform: scale(1.1); 
    border-radius: 15%;
    background-color: #196ffa;}
}




/* titolo */
h1{
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 800;
}

#box-header-testo{
    width: 30%;
}

#box-header-img{
    width: 70%;
}

#box-header-img:hover{
    animation: rotate 3s infinite;
}

@keyframes rotate{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); 
        filter: drop-shadow(30px 10px 4px black);
    }
}

#arrow{
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
}

#arrow a i{
    color: black;
}


#boxone{
    bottom: -80px;
}


/* section 1 */
.section{
    margin-top: 150px;
}

h2{
    font-size: 40px;
    margin-bottom: 60px;
}

.radio{
    margin-bottom: 60px;
}
.card{
    width: 30%;
    border: 1px solid lightgray;
}

.titolo-border{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.card-body{
    margin: 30px 20px;
}

#acquista{
    color: #196ffa;
}

#blue-border{
    color: #196ffa;
}

.hr-corta{
    width: 20%;
    border: 1px solid lightgray;
}

i{
    margin-right: 15px;
}

.fa-check{
    color: #196ffa;
}

#left-box{
    width: 70%;
    margin: 30px 20px;
}

#right-box{
    width: 30%;
    margin: 30px 20px;
}

#border-b{
    border: 1px solid lightgray;
    margin-top: 60px;
}

#box-foto-trova{
    margin-top: 100px;
}

#box-foto{
    width: 60%;
}

#box-testo{
    width: 40%;
    margin: 40px 60px;
}

#bottone-nero{
    border: 2px solid black;
    padding: 20px;
    font-size: 20px;
}

#bottone-nero:hover{
    border: 2px solid #7c7c7c;
    color: #7c7c7c;
}







/* section 2 */
.card-2{
    width: calc(100%/3 - 5%);
}

/* carte colorate */
.colored-banner{
    width: calc(100vw/3);
    aspect-ratio: 1;
}

.partner{
    flex-basis: calc(100%/2);
    aspect-ratio: 1;
}

.partner-img{
    width: 50%;
    align-self: center;
    filter: invert(100%)
}

#banner-m{
    background-color: #f5f5f5;
    overflow: auto;
}

#banner-m img{
    width: 50%;
}

#partner1{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}   

#partner2::before,
#partner2::after{
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;

}

#partner2::before{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
    transition: transform ease-out 250ms;
}

#partner2:hover::before{
    transform: scale(1, 1);
}

#partner2::after{
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
    transition: transform ease-out 250ms;
}

#partner2:hover::after{
    transform: scale(1, 1);
}

#partner2{
    background-color: #61082b;
    position: relative;
}

#partner3{
    background-color: #0093ce;
}

#partner4{
    background-color: #ff1c1c;
}

#partner5{
    background-color: #d5001f;
}

#partner6{
    background-color: #b4d0e7;
}

#partner7{
    background-color: #0d2481;
}

#partner8{
    background-color: #ffd830;
}

#hr{
    border: 1px solid lightgrey;
    width: 20%;
}

#banner-m::-webkit-scrollbar{
    width: 1em;
}

#banner-m::-webkit-scrollbar-track{
    background-color: hsl(180 50% 50% / 1);
    border-radius: 100vw;
    margin-block: 0.5em;
}

#banner-m::-webkit-scrollbar-thumb{
    background-color:  hsl(180 100% 50% / 1);
    border-radius: 100vw;
}

#banner-m::-webkit-scrollbar-thumb:hover{
    background-color: hsl(180 100% 20% / 1);
}




/* banner blue */
.banner-blue{
    background-color: #313131;
}

#banner-blue{
    padding: 100px 0;
}

/* #bottone-bianco{
    background-color: white;
    padding: 10px 15px;
    color: black;
    text-align: center;
    font-size: 20px;
} */

/* #bottone-bianco:hover{
    color: #7c7c7c;
} */

#bottone-bianco{
    color: var(--color-neon);
    font-size: 2rem;
    border: var(--color-neon) 0.125em solid;
    padding: .25em 1em;
    border-radius: 0.25em;
    text-shadow: 
        0 0 0.125em hsl(0 0% 100% / 0.2),
        0 0 0.45em var(--color-neon);
    box-shadow: 
        inset 0 0 0.5em 0 var(--color-neon),
        0 0 0.5em 0 var(--color-neon);
    position: relative;
    z-index: 1;
}

#bottone-bianco::before{
    content: '';
    position: absolute;
    top: 70%;
    left: -90%;
    width: 280%;
    height: 100%;
    background: var(--color-neon);
    filter: blur(1em);
    transform: perspective(0.5em) rotateX(40deg) scale(1, 0.35) translateZ(-0.5em);
    opacity: 0.7;
    z-index: 0;
}

#bottone-bianco::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-neon);
    box-shadow: 0 0 2em 0.5em var(--color-neon);
    opacity: 0;
    transition: opacity 200ms linear;
}

#bottone-bianco:hover::before{
    opacity: 1;
}

#bottone-bianco:hover::after{
    opacity: 1;
    z-index: -1;
}

#bottone-bianco:hover{
    background: var(--color-neon);
    color: hsl(180, 100%, 50%);
    text-shadow: none;
    filter: blur(0,3em);
    font-weight: bold;
}

#testo-vino{
    color: var(--color-neon);
    margin: 0;
}

#left-banner-blue{
    width: 70%;
}

#right-banner-blue{
    width: 30%;
    margin-top: 5px;
}

/* faq */
.hidden{
    position: relative;
    z-index: 1;
    padding: 1.2em;
    transform: scale(0);
    display: none;
}

.hidden1{
    display: none;
}

.hidden::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--gradient);
    z-index: -1;
    transform: scaleY(0);
    transition: transform 250ms ease-in 250ms;
    transition-delay: 250ms;
    transform-origin: top;
}

.visible:hover + .hidden1{
    display: block;
}

.visible:hover + .hidden{
    transform: scaleY(1);
    display: block;
}


.visible:hover + .hidden::after{
    transform: scaleY(1);
    display: block;
}

.visible:hover .fa-angle-down{
    transform: rotate(180deg);
}

#card-title{
    position: relative;
    z-index: 1;
    padding: 1.2em;
}

#card-title::after{
    content: '';
    position: absolute;
    top: -0.25rem;
    left: 0;
    bottom: -0.25rem;
    width: 100%;
    background-color: var(--color-neon);
    z-index: -1;
    transform: scaleX(0.015);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.card3:hover #card-title::after{
    transform: scaleX(1);
}




/* footer */
footer{
    background-color: #000000;
    padding: 20px 0;
    color: white;
}

hr{
    margin: 20px 0;
}

#foot-top{
    margin-top: 50px;
    margin-bottom: 50px;
}

.ita{
    color: white;
}

li{
    margin: 20px 0;
    list-style-type: none;
}

.arrow{
    padding: 2px;
    margin-left: 10px;
}

